html {
  box-sizing: border-box;
  text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  background-color: $color-bg;
  color: $color-text;
  font-family: $font-base-family;
  height: 100%;
  margin: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*сжимается внутренний контент под общий размер*/
}

body {
  font-family: 'Montserrat';
  font-style: normal; /*жирный, наклонный или др*/
  font-size: 14px;
  line-height: 19px; /*межстрочный интервал*/
  color: #1E0606;
}

a {
  /*list-style: none; /*убирает маркер списка точку?*/
  list-style: none; /*убирает маркер списка точку?*/
  text-decoration: none; /*убирает подчеркивание*/
}

img {
  display: block; /* блочные элементы, можем задать высоту и ширину*/
  max-width: 100%;
}

button {
  border: none;
}

.container { /*проставить во всех секциях, дивах, отодвигает от края*/
  max-width: 1180px;
  margin: 0 auto;
}

li {
  list-style-type: none; /*прописать во всех списках li, убирает точку в списках*/
}

/* стилизация header */

.link__info {
  padding: 9px 22px 9px 22px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  width: 150px;
  height: 40px;
  left: 140px;
  top: 2230px;
  background: #000000;
}

.place__link {
  margin-top: 32px;
}

.btn {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  border: none;
  padding: 9px 22px;
  background: #000;
}

.breadcrumbs {
  display: flex;
  gap: 22px;
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #1E0606;
  /* margin-top: 15px; */
}

.br__link {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #1E0606;
}

.br__link-two {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-transform: capitalize;
  color: #1E0606;
  opacity: 0.5;
}

.img__breadcrumbs {
  margin-top: 7px;
}

/* pagination */

.list__link {
  display: flex;
  gap: 457px;
  margin-top: 48px;
  margin-bottom: 56px;
}

.list__pagination {
  display: flex;
  gap: 64px;
}

.link__pagination {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #C29974;
}

.link__pagination-no {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #1E0606;
}

.link__pagination-no:hover {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #AAAAAA;
}

.btn_pagination-one {
  margin-top: -5px;
  background-color: none;
  background-image: url('../img/icon/paginationone.svg');
  padding: 16px 10px;
  background-repeat: no-repeat;
}

.btn_pagination-one:hover {
  margin-top: -5px;
  background-color: none;
  background-image: url('../img/icon/paginationonehov.svg');
  padding: 16px 10px;
  background-repeat: no-repeat;
}

.btn_pagination-one:active{
  margin-top: -5px;
  background-color: none;
  background-image: url('../img/icon/paginationoneact.svg');
  padding: 16px 10px;
  background-repeat: no-repeat;
}

.btn_pagination-two {
  margin-top: -5px;
  background-image: url('../img/icon/paginationtwo.svg');
  padding: 16px 10px;
  background-repeat: no-repeat;
  background-color: none;
}

.btn_pagination-two:hover {
  margin-top: -5px;
  background-image: url('../img/icon/paginationtwohov.svg');
  padding: 16px 10px;
  background-repeat: no-repeat;
  background-color: none;
}

.btn_pagination-two:active {
  margin-top: -5px;
  background-image: url('../img/icon/paginationtwoact.svg');
  padding: 16px 10px;
  background-repeat: no-repeat;
  background-color: none;
}


/* form */

.contact__form {
  max-width: 680px;
  background: #E5EAF8;
  padding: 20px 40px 42px 40px;
}

.input__element {
  display: flex;
  gap: 20px;
}

.label__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.contact__label {
  margin-bottom: 3px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #1E0606;
}

.contact__input {
  /* max-width: 600px; */
  width: 100%;
  height: 53px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.contact__input:active {
  /* max-width: 600px; */
  width: 100%;
  height: 53px;
  background: #FFFFFF;
  border: 1px solid #C29974;
}

.contact__input::placeholder {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #1E0606;
  padding: 20px;
}

.contact__input-two {
  width: 290px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.checkbox_position {
  margin-top: 11px;
}

.checkbox_input {
  position: absolute;
  opacity: 0;
  margin: 0;
}

.checkbox__label {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #1E0606;
  margin-left: 25px;
}

.checkbox__label::before {
  content: "";
  cursor: pointer;
  width: 19px;
  height: 19px;
  position: absolute;
  background-image: url("../img/icon/input.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: -25px;
}

.checkbox_input:checked + .checkbox__label::before {
  content: "";
  cursor: pointer;
  width: 19px;
  height: 19px;
  position: absolute;
  background-image: url("../img/icon/checked1.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: -25px;
}

.btn__submit {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  padding: 9px 22px;
  margin-top: 17px;
  background: #000000;
}

/* end form */


