.title__blog {
    margin-top: 60px;
    margin-bottom: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606;
}

.list__blog {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 20px;
}

.list__blog-two {
    display: flex;
    flex-wrap: wrap;
    margin-top: 28px;
    gap: 20px;
}

.list__items {
    display: flex;
    flex-direction: column;
    width: 380px;
    font-family: 'Montserrat';
}

.data__style {
    margin-top: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #818181;
    mix-blend-mode: normal;
}

.head__style {
    /* margin-top: 7px; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 35px;
    color: #1E0606;
}

.head__style:hover {
    cursor: pointer;
    opacity: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 35px;
    text-decoration-line: underline;
    color: #1E0606;
}

.text__style {
    margin-top: 15px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
}

