.title__catalog {
    margin-top: 60px;
    margin-bottom: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606;
}

.catalog__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}    

.product__place {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__one {
    width: 280px;
    height: 270px;
    background: #DBE4DB;
}

.product__two {
    width: 280px;
    height: 270px;
    background: #EADDD3;
}

.product__three {
    width: 270px;
    height: 270px;
}

.block_none {
    width: 180px;
    height: 270px;
    background: #FFFFFF;
}

.product__four {
    width: 280px;
    height: 275px;
    background: #D5D4E1;
}

.product__five {
    width: 278px;
    height: 275px;
    background: #F3D0DB;
}

.product_sixe {
    width: 278px;
    height: 275px;
    background: #E5EAF8;
}

.link__text {
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
    width: 192px;
}

.link__text:hover {
    opacity: 100%;
    text-decoration: underline;
    color: #FFFFFF;
}

.description {
    margin-top: 55px;
    margin-left: 200px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
}

.text__style {
    margin-top: 23px;
    margin-left: 200px;
    max-width: 680px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.text__style-one {
    margin-top: 15px;
    margin-left: 200px;
    max-width: 680px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.text__style-two {
    margin-top: 15px;
    margin-left: 200px;
    margin-bottom: 55px;
    max-width: 680px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}