<li class="product__place product__one">
    <a href="@@linkProduct" class="link__text">@@product</a><img src="@@img" alt="Сhildrens sweater" width="244" height="177">
</li>
<!-- <li class="product__place product__one">
    <a href="#" class="link__text">APPAREL KIDS</a><img src="./img/sweater.png" alt="Сhildrens sweater" width="244" height="177">
</li> -->
<!-- <li class="product__place product__two">
    <a href="#" class="link__text">HOLIDAY SHOP</a><img src="./img/sock.png" alt="Gift sock" width="208" height="244">
</li>
<li class="product__place product__three">
    <a href="toys.html" class="link__text">TOYS</a><img src="./img/deer.jpg" alt="Deer wooden figurine" width="270" height="270">
</li>
<li class="product__place product__four">
    <a href="#" class="link__text">ACCESSORIES</a><img src="./img/skateboard.png" alt="Skateboard" width="240" height="250">
</li> -->