<footer class="footer__style">
  <div class="container footer__block">
          <nav class="menu__list">
              <div class="navigation_list">
                  <ul>
                      <li><p class="menu__header position__nav">Navigation</p></li>
                      <li class="menu__nav"><a href="/about-us.html" class="nav_link">About Us</a></li>
                      <li class="menu__nav"><a href="blog.html" class="nav_link">Blog</a></li>
                      <li class="menu__nav"><a href="#" class="nav_link">Design Services</a></li>
                      <li class="menu__nav"><a href="#" class="nav_link">Featured On</a></li>
                      <li class="menu__nav"><a href="#" class="nav_link">2018 Holiday Catalog</a></li>
                      <li class="menu__nav"><a href="#" class="nav_link">Shop By Designer</a></li>
                  </ul>
              </div>
              <div class="position__info">
                  <ul>
                      <li>
                          <p class="menu__header position__customer">Customer Information</p>
                      </li>              
                      <li class="menu__nav">
                          <a href="contact.html" class="nav_link">Contact Us</a>
                      </li>
                      <li class="menu__nav">
                          <a href="#" class="nav_link">Sale Exclusions</a>
                      </li>
                      <li class="menu__nav">
                          <a href="#" class="nav_link">Shipping & Returns</a>
                      </li>
                      <li class="menu__nav">
                          <a href="#" class="nav_link">Terms & Conditions</a>
                      </li>
                      <li class="menu__nav">
                          <a href="#" class="nav_link">Privacy Policy</a>
                      </li>
                      <li class="menu__nav">
                          <a href="#" class="nav_link">Search</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <ul>
                      <li><p class="menu__header position__connect">Connect</p></li>            
                  </ul> 
                  <div class="mail__block">  
                      <input class="mail__input" type="text" name="text" placeholder="Email">  
                      <button class="input__btn" type="submit">JOIN</button>  
                  </div> 
                  <ul class="connect_block">
                      <li><a href="https://www.facebook.com/"><img src="../img/icon/facebook.svg" alt="FB" width="30" height="30"></a></li>
                      <li><a href="https://twimg.com/"><img src="../img/icon/twitter.svg" alt="Twitter" width="30" height="30"></a></li>
                      <li><a href="https://pinterest.com/"><img src="../img/icon/pinterest.svg" alt="Pinterest" width="30" height="30"></a></li>
                      <li><a href="http://instagram.com/"><img src="../img/icon/instagram.svg" alt="Instagram" width="30" height="30"></a></li>
                  </ul>
              </div>
          </nav> 
      <div class="container finish">
          <div class="form__item">
              <div class="form__label">Company Rating</div>
              <div class="simple__rating">
                  <div class="simple-rating__items">
                      <input id="simple-rating-5" type="radio" class="simple-rating__item" name="simple-rating" value="5">
                      <label for="simple-rating-5" class="simple-rating__label"></label>
                      <input id="simple-rating-4" type="radio" class="simple-rating__item" name="simple-rating" value="4">
                      <label for="simple-rating-4" class="simple-rating__label"></label>
                      <input id="simple-rating-3" type="radio" class="simple-rating__item" name="simple-rating" value="3">
                      <label for="simple-rating-3" class="simple-rating__label"></label>
                      <input id="simple-rating-2" type="radio" class="simple-rating__item" name="simple-rating" value="2">
                      <label for="simple-rating-2" class="simple-rating__label"></label>
                      <input id="simple-rating-1" type="radio" class="simple-rating__item" name="simple-rating" value="1">
                      <label for="simple-rating-1" class="simple-rating__label"></label>
                  </div>
              </div>
          </div>
          <ul class="li__list">
              <li class="text_copyr">Copyright © 2018 Dlk • Design Life Kids</li>
              <li class="text__web-d text_margin">Web Design — <a href="https://directlinedev.com/" class="text__web-d">Direct Line Development</a></li>
          </ul>
      </div>
  </div>
</footer>
