<footer class="footer__style">
  <div class="container footer__block">
          <nav class="footer__menu">
              <div class="navigation">
                  <ul>
                      <li><p class="navigation__title navigation__title-one">Navigation</p></li>
                      <li class="navigation__menu"><a href="/about-us.html" class="navigation__menu_link">About Us</a></li>
                      <li class="navigation__menu"><a href="blog.html" class="navigation__menu_link">Blog</a></li>
                      <li class="navigation__menu"><a href="#" class="navigation__menu_link">Design Services</a></li>
                      <li class="navigation__menu"><a href="#" class="navigation__menu_link">Featured On</a></li>
                      <li class="navigation__menu"><a href="#" class="navigation__menu_link">2018 Holiday Catalog</a></li>
                      <li class="navigation__menu"><a href="#" class="navigation__menu_link">Shop By Designer</a></li>
                  </ul>
              </div>
              <div class="info">
                  <ul>
                      <li>
                          <p class="info__title info__title-two">Customer Information</p>
                      </li>              
                      <li class="info__menu">
                          <a href="contact.html" class="info__menu_link">Contact Us</a>
                      </li>
                      <li class="info__menu">
                          <a href="#" class="info__menu_link">Sale Exclusions</a>
                      </li>
                      <li class="info__menu">
                          <a href="#" class="info__menu_link">Shipping & Returns</a>
                      </li>
                      <li class="info__menu">
                          <a href="#" class="info__menu_link">Terms & Conditions</a>
                      </li>
                      <li class="info__menu">
                          <a href="#" class="info__menu_link">Privacy Policy</a>
                      </li>
                      <li class="info__menu">
                          <a href="#" class="info__menu_link">Search</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <ul>
                      <li><p class="connect__title connect__title-three">Connect</p></li>            
                  </ul> 
                  <div class="mail__block">  
                      <input class="mail__block_input" type="text" name="text" placeholder="Email">  
                      <button class="mail__block_btn" type="submit">JOIN</button>  
                  </div> 
                  <ul class="socials">
                      <li><a href="https://www.facebook.com/"><img src="../img/icon/facebook.svg" alt="FB" width="30" height="30"></a></li>
                      <li><a href="https://twimg.com/"><img src="../img/icon/twitter.svg" alt="Twitter" width="30" height="30"></a></li>
                      <li><a href="https://pinterest.com/"><img src="../img/icon/pinterest.svg" alt="Pinterest" width="30" height="30"></a></li>
                      <li><a href="http://instagram.com/"><img src="../img/icon/instagram.svg" alt="Instagram" width="30" height="30"></a></li>
                  </ul>
              </div>
          </nav> 
      <div class="container finish">
          <div class="form__rating">
              <div class="form__rating_label">Company Rating</div>
              <div class="rating">
                  <div class="rating__items">
                      <input id="simple-rating-5" type="radio" class="rating__items_input" name="simple-rating" value="5">
                      <label for="simple-rating-5" class="rating__items_label"></label>
                      <input id="simple-rating-4" type="radio" class="rating__items_input" name="simple-rating" value="4">
                      <label for="simple-rating-4" class="rating__items_label"></label>
                      <input id="simple-rating-3" type="radio" class="rating__items_input" name="simple-rating" value="3">
                      <label for="simple-rating-3" class="rating__items_label"></label>
                      <input id="simple-rating-2" type="radio" class="rating__items_input" name="simple-rating" value="2">
                      <label for="simple-rating-2" class="rating__items_label"></label>
                      <input id="simple-rating-1" type="radio" class="rating__items_input" name="simple-rating" value="1">
                      <label for="simple-rating-1" class="rating__items_label"></label>
                  </div>
              </div>
          </div>
          <ul class="finish__list">
              <li class="finish__text finish__text_one">Copyright © 2018 Dlk • Design Life Kids</li>
              <li class="finish__text finish__text_two">Web Design — <a href="https://directlinedev.com/" class="finish__text finish__text_three">Direct Line Development</a></li>
          </ul>
      </div>
  </div>
</footer>
