<header class="header container">
    <a href="/index.html"><img class="header__logo" src="./img/icon/logo.png" alt="Logo" width="100" height="52"></a> 
    <nav class="header__nav left">
        <ul class="header__list">
            <li>
                <a href="blog.html" class="header__link">BLOG</a>
            </li>
            <li>
                <a href="catalog.html" class="header__link">CATALOG</a>
            </li>
            <li>
                <a href="#" class="header__link">ABOUT US</a>
            </li>
            <li>
                <a href="grid.html" class="header__link">GRID</a>
            </li>
            <li>
                <a href="animation.html" class="header__link">ANIMATION</a>
            </li>
            <li>
                <a href="svg.html" class="header__link">SVG</a>
            </li>
            <li>
                <a href="bootstrap.html" class="header__link">BOOTSTRAP</a>
            </li>
        </ul> 
    </nav>    
        <ul class="header__list header__nav">
            <li>
                <a href="#"><img class="header__search" src="./img/icon/search.svg" alt="Search" width="17" height="18"></a>
            </li>
            <li>
                <a href="contact.html" class="header__list-contact">CONTACT US</a>
            </li>
        </ul> 
</header>